ion-content {
    --background: #f5f4fa; /* fundo suave */
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    gap: 50px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 25px;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 25px;
    color: #004977;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
}

.input{
    width: 100%;
    --background: #D5D4D9;
    --padding-start: 20px;
    margin-bottom: 20px;
    --border-radius: 12px;
    --placeholder-color: #004977;
    font-size: 1rem;
    --color: #004977;
    --border-color-focus: #004977; 
    --border-color: #004977;           
    --border-color-focus: #004977;     
    --border-color-invalid: #004977;   
    --highlight-color-focused: #004977; 
    --highlight-color-invalid: #004977; 
}

.input::part(native) {
  text-align: left; /* alinha texto à esquerda */
}

ion-button {
    --border-radius: 12px;
    --background: #004977;
    --color: #fff;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
}

ion-button:hover {
    --background: #004977;
}

.back-button {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 15px);
    left: 15px;
    z-index: 100;
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    --color: #004977;
    font-size: 1em;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 16px;
    color: #004977;
}

