<ion-content>

    <div class="loading-container" *ngIf="isLoading">
        <ion-spinner name="crescent" style="color: #FFF"></ion-spinner>
    </div>

    <ion-button fill="clear" class="back-button" (click)="voltar()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <div class="container" *ngIf="!isLoading">

        <img src="../../assets/img/logoHcred.png" alt="Logo Hcred" class="logo">

        <ion-icon name="call-outline" style="background: transparent; color: #FFF; padding: 20px; border-radius: 50%; font-size: 2em;"></ion-icon>

        <h1>Insira seu telefone para confirmarmos a sua identidade</h1>

        <ion-input
            class="input"
            type="tel"
            inputmode="numeric"
            pattern="[0-9]*"
            placeholder="Digite o seu Telefone"
            [(ngModel)]="telefone"
            fill="outline"
            (ionInput)="aplicarMascaraTelefone($event)"
        >
            <ion-icon name="call-outline" slot="start"></ion-icon>
        </ion-input>

        <ion-button expand="block" (click)="confirmarTelefone()">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </div>

</ion-content>
