
<ion-content [fullscreen]="true" class="pageRelatorios">
    <div class="topo-relatorios">
        <ion-icon name="chevron-back-outline" class="icone-voltar" (click)="navigation('index')"></ion-icon>

        <h1>Relatórios</h1>

        <img class="logo-relatorios" src="../../assets/img/logoHcred-mobile.png" alt="Logo">
    </div>

    <main>
        <div class="form">

            <ion-select
                label="Selecione o período"
                label-placement="floating"
                [(ngModel)]="periodo"
                fill="outline"
            >
                <ion-select-option [value]="1">1 dias</ion-select-option>
                <ion-select-option [value]="3">3 dias</ion-select-option>
                <ion-select-option [value]="7">7 dias</ion-select-option>
                <ion-select-option [value]="10">10 dias</ion-select-option>
                <ion-select-option [value]="30">30 dias</ion-select-option>
            </ion-select>

            <div class="buttons-form">
                <ion-button><ion-icon name="document-text-outline" slot="start"></ion-icon>Gerar Relatório</ion-button>    
            </div>
        </div>


    </main>
</ion-content>
