<ion-content>
    <ion-button fill="clear" class="back-button" (click)="voltar()" *ngIf="!isLoading">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <div class="container" *ngIf="!isLoading">
        <!-- Logo -->
        <img src="../../assets/img/logoHcred-azul.png" alt="Logo Hcred" class="logo">

        <ion-icon name="mail-open-outline" style="background: #004977; color: #FFF; padding: 20px; border-radius: 50%; font-size: 2em;"></ion-icon>

        <h1>Insira um e-mail para confirmarmos a sua identidade</h1>

        <ion-input
            placeholder="Endereço de e-mail"
            [(ngModel)]="email"
            fill="outline"
            class="input"
        >
            <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-input>

        <ion-input
            placeholder="Confirme o Endereço de e-mail"
            [(ngModel)]="confirmEmail"
            fill="outline"
            class="input"
        >
            <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-input>

        <ion-button expand="block" (click)="confirmarEmail()">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </div>

    <!-- Spinner de carregamento -->
    <div class="loading-container" *ngIf="isLoading">
        <ion-spinner name="crescent" style="color: #004977"></ion-spinner>
    </div>
</ion-content>
