ion-content {
    --background: #004977 url('../../assets/img/pattern-hcred-bg.png') no-repeat center center / cover;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 45px;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 45px;
    color: #FFF;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
}

ion-card{
    width: 100%;
    --background: #E9E8ED;
}

ion-item{
    --background: transparent;
}

ion-item ion-icon{
    color: #004977;
}

ion-item ion-label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ion-item ion-label h2, ion-item ion-label p{
    color: #004977;
}

.arrow-icon {
    color: #004977;
    font-size: 1.4rem;
}

.back-button {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 15px);
    left: 15px;
    z-index: 100;
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    --color: #FFF;
    font-size: 1em;
}
