<ion-content [fullscreen]="true" class="pageIndex">
  <app-header></app-header>

  <ng-container *ngIf="isLoading; else content">
        <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
  </ng-container>

  <ng-template #content>
    <div class="img-home">
        <img [src]="urlImage" alt="Aviso Home">
    </div>

    <ion-fab slot="fixed" style="z-index: 100000; margin-right: 15px; margin-bottom: 15px;" vertical="bottom" horizontal="end">
        <ion-fab-button class="fab-list-item" (click)="navigation('dashboard')">
            <ion-icon name="bar-chart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

  </ng-template>
</ion-content>
