<ion-content>
    <ion-button fill="clear" class="back-button" (click)="voltar()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <div class="container">

        <img src="../../assets/img/logoHcred.png" alt="Logo Hcred" class="logo">

        <ion-icon name="person-outline" style="background: transparent; color: #FFF; padding: 20px; border-radius: 50%; font-size: 2em;"></ion-icon>

        <h1>Insira seu nome de usuário para confirmarmos a sua identidade</h1>

        <ion-input
            placeholder="Insira o Nome de Usuário"
            [(ngModel)]="nomeUser"
            fill="outline"
            class="custom-input"
        >
            <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-input>

        <ion-button expand="block" (click)="confirmarNomeUser()"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </div>
</ion-content>
