ion-content {
    --background: #004977 url('../../assets/img/pattern-hcred-bg.png') no-repeat center center / cover;
    min-height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 20px 0 20px;
    border-radius: 20px;

    gap: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 45px;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 45px;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
}


ion-input.custom-input {
    width: 100%;
    margin-bottom: 20px;
    --padding-start: 20px;
    --border-radius: 12px;
    --placeholder-color: #FFF;
    font-size: 1rem;
    --color: #FFF;
    --border-color-focus: #FFF;
    --border-color: #FFF;
    --border-color-focus: #FFF;
    --border-color-invalid: #FFF;
    --highlight-color-focused: #FFF;
    --highlight-color-invalid: #FFF;
}

ion-button {
    --border-radius: 12px;
    --background: #de9f13;
    --color: #fff;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.back-button {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 15px);
    left: 15px;
    z-index: 100;
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    --color: #FFF;
    font-size: 1em;
}
