.pageEndereco{
    --background: #efeef4;
}

.topo-endereco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: env(safe-area-inset-top)20px 0 20px;
    background: #004977 url('../../../assets/img/pattern-hcred-bg.png') no-repeat center center / cover;
    height: 70px;
    color: #FFF;
}

.topo-endereco h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 1.2em;
}

.icone-voltar {
    font-size: 1.5em;
}

.logo-endereco {
    height: 50px;
    width: 50px;
}

.pageEndereco h2{
    margin: 20px 0 20px 15px;
    color: #004977;
}

.form-endereco{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background: transparent;
}

.form-endereco ion-item{
    --background: transparent; 
    --border-color: transparent;  
}

.form-endereco ion-item ion-input{
    --color: #004977;
    margin-top: 10px;
    --border-radius: 10px;
    --border-color: #004977;
    --ion-color-primary: #004977;
    --placeholder-color: #004977; 
    --placeholder-opacity: 1;
    --highlight-color-focused: #004977;
}

.form-endereco ion-item ion-input.input-erro{
    --color: #f44336;
   --border-color: #f44336; // vermelho (ou outro tom que preferir)
    --highlight-color-focused: #f44336;
    --highlight-color-invalid: #f44336;
    --ion-color-primary: #f44336;
    --placeholder-color: #f44336; 
    --placeholder-opacity: 1;
}

.buttons-container{
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons-container ion-button{
    color: #FFF;
}